<style>
    .affiliate-logo {
        width: 120px;
        height: 120px;
        {#border-radius: 50%;#}
        {#box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);#}
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.2));
        /* gradient */
        {#background: linear-gradient(90deg, #eae5e5, #b8b8b8);#}
    }

    .affiliate-name {
        font-weight: bolder;
        margin-top: 8px;
        font-size: 42px;
        width: 200%;
        transform: translate(-25%);
        text-align: center;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        color: #ffffff;
    }

    .affiliate-name-no {
        text-shadow: none;
        color: #bbb;
    }

    .aff-fee {
        display: inline;
        font-size: 36px;
        width: 220px;
        text-align: left;
        color: #51efe2;
    {#color: #a3f8ef;#}
    }

    .aff-free {
        color: #92e660;
    }

    .no-aff {
        opacity: 0.7;
        letter-spacing: 1px;
        text-align: center;
        color: #bbb;
    }

    .affiliate-part {
        width: 340px;
    }

</style>

<div class="affiliate-part">
    {% if affiliate_name %}
        <img src="renderer/logo/unknown.png?rv=1" alt="{{ affiliate_name }} logo" class="affiliate-logo">
        <div class="affiliate-name">
            {{ affiliate_name }}
            {% if float(affiliate_fee) > 0 %}
                <div class="aff-fee">
                    {{ pretty_money(float(affiliate_fee)) }}%
                </div>
            {% else %}
                <div class="aff-fee aff-free">
                    Free!
                </div>
            {% endif %}
        </div>

    {% else %}
        {% include "components/no-aff-logo.jinja2" %}
        <div class="affiliate-name no-aff">No affiliate</div>
    {% endif %}
</div>

<script>
    const affiliateName = "{{ affiliate_name }}".toLowerCase().replace(/\s+/g, '');
    console.log(`Affiliate name is ${affiliateName}`)

    const nameToCode = {
        'trustwallet': 'trust',
        'trust': '',
        'thorswap': '',
        'asgardex': '',
        'babylonswap': '',
        'bitget': '',
        'cacaoswap': '',
        'cakewallet': '',
        'coinbot': '',

        'ctrl': '',
        'xdefi': 'ctrl',

        'decentralfi': '',
        'edgewallet': '',
        'eldorito': '',
        'ethos': '',
        'gemwallet': '',
        'giddy': '',
        'instaswap': '',

        'ledgerlive': '',
        'ledger live': 'ledgerlive',
        'ledger': 'ledgerlive',
        'll': 'ledgerlive',

        'lends': '',
        'lifi': '',
        'li.fi': 'lifi',
        'okx': '',
        'onekey': '',
        'rango': '',
        'shapeshift': '',
        'symbiosis': '',
        'thorwallet': '',
        'unizen': '',
        'vultisig': '',
        'vultisig ios': 'vultisig',
        'vultisig android': 'vultisig',

        'zengo': '',
        'tokenpocket': ''
    };

    const logoSpecialCase = {
        'shapeshift': 'fox.png',
        'tokenpocket': 'tps.png',
        'vultisig': 'vult.svg',
        'rango': 'rango.png',
    }

    let code = nameToCode[affiliateName];

    if (code !== undefined) {
        if (code === '') {
            code = affiliateName;
        }

        let logoPath = `https://raw.githubusercontent.com/ViewBlock/cryptometa/master/data/thorchain/ecosystem/${code}/logo.svg`
        const specialCaseLogo = logoSpecialCase[code];
        if (specialCaseLogo !== undefined) {
            logoPath = `renderer/static/specialcase/${specialCaseLogo}`
            console.log(`Special case logo for ${affiliateName} URL is ${logoPath}`)
        }

        const affiliateLogo = document.querySelector('.affiliate-logo');

        // on error try the same name with .png extension
        // do it once
        let triedPng = false;
        affiliateLogo.onerror = function () {
            if(!triedPng) {
                affiliateLogo.src = logoPath.replace('.svg', '.png');
                console.log(`Affiliate logo for ${affiliateName} URL is ${logoPath.replace('.svg', '.png')}`)
                triedPng = true;
            }
        }

        affiliateLogo.src = logoPath;
        console.log(`Affiliate logo for ${affiliateName} (${code}) URL is ${logoPath}`)
    }

</script>

