<style>
    .affiliate-logos {
        display: flex;
        justify-content: center; /* Center the block inside */
        position: relative;
    }

    .affiliate-logos img {
        width: 120px;
        height: 120px;

        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.2));
        margin-left: -30px;
    }

    .affiliate-logos img:first-child {
        margin-left: 0; /* Ensure the first image starts normally */
    }

    .affiliate-name {
        font-weight: bolder;
        margin-top: 8px;
        font-size: 42px;
        width: 200%;
        transform: translate(-25%);
        text-align: center;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        color: #ffffff;
    }

    .aff-fee {
        display: inline;
        font-size: 36px;
        width: 220px;
        text-align: left;
        color: #51efe2;
    }

    .aff-free {
        color: #92e660;
    }

    .no-aff {
        opacity: 0.7;
        letter-spacing: 1px;
        text-align: center;
        color: #bbb;
    }

    .affiliate-part {
        width: 340px;
    }

</style>

<div class="affiliate-part">
    {% if affiliate_names %}
        <div class="affiliate-logos">
            {% for name in affiliate_names %}
                <img src="renderer/logo/unknown.png?rv=1"
                     alt="{{ name }} logo"
                     class="affiliate-logo affiliate-logo-{{ loop.index0 }}"
                     style="left: {{ loop.index0 * 20 }}%;">
            {% endfor %}
        </div>
        <div class="affiliate-name">
            {{ ", ".join(affiliate_names) }}
            {% if float(affiliate_fee) > 0 %}
                <div class="aff-fee">
                    {{ pretty_money(float(affiliate_fee)) }}%
                </div>
            {% else %}
                <div class="aff-fee aff-free">
                    Free!
                </div>
            {% endif %}
        </div>

    {% else %}
        {% include "components/no-aff-logo.jinja2" %}
        <div class="affiliate-name no-aff">No affiliate</div>
    {% endif %}
</div>

<script>
    const affiliateLogos = {{ affiliate_logos | safe }};
    const affiliateNames = {{ affiliate_names | safe }};
    for (let i = 0; i < affiliateNames.length; i++) {
        const name = affiliateNames[i];
        const affiliateLogo = document.querySelector(`.affiliate-logo-${i}`);
        affiliateLogo.onerror = function () {
            affiliateLogo.src = 'renderer/logo/unknown.png'
        }
        let logoPath = affiliateLogos[i]
        console.log(`Affiliate name is ${name} (${logoPath})`)

        // if it does not start with 'https', this is local path, prepend local path
        if (!logoPath.startsWith('https://') && !logoPath.startsWith('http://')) {
            logoPath = 'renderer/static/img/ecosystem/' + logoPath;
        }
        affiliateLogo.src = logoPath;
    }
</script>

