<style>
    .white-shadow {
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
    }

    .asset-logo {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 1px solid rgba(156, 161, 159, 0.4);
        padding: 0;
    }

    .chain-logo {
        position: absolute;
        top: -10px;
        left: -10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid rgba(156, 161, 159, 0.4);
        padding: 0;
    }

    .pill {
        position: absolute;
        border-radius: 10px;
        {#border: 2px solid;#}

        color: black;
        padding: 2px 10px 2px 7px;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
        left: 20%;
        right: auto;
        bottom: -15px;
        font-style: italic;
    }

    .trade-pill {
        background: #dcdcdc;
        border-color: #474747;
    }

    .synth-pill {
        background: #92e660;
        border-color: #30680a;
    }

    .asset-logo-container {
        position: relative;
    }
</style>

<div class="asset-logo-container">
    <img src="renderer/logo/{{ asset_logo }}.png"
         alt="{{ asset_logo }} logo"
         class="asset-logo white-shadow"
         onerror="console.error('{{ asset_logo }}: no logo!'); this.src='renderer/logo/unknown.png';"
    >
    {% if '~' in asset_name %}
        <div class="pill trade-pill">TRADE</div>
    {% elif '/' in asset_name %}
        <div class="pill synth-pill">SYNTH</div>
    {% else %}
        {# nothing #}
    {% endif %}

    {% if chain_logo %}
        <img src="renderer/logo/{{ chain_logo }}.png"
             alt="{{ chain_logo }} logo"
             class="chain-logo white-shadow"
             onerror="console.error('{{ chain_logo }}: no logo!')"
        >
    {% endif %}

</div>
