{# Variables: price, old_price, label #}


<style>
    .price-delta {
        display: flex;

        flex-direction: row;
        flex-wrap: nowrap;

        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .price-label {
        display: block;
        font-weight: normal;
        color: rgb(202, 202, 202);
    }

    .price-change {
        margin-left: 20px;
        display: flex;
        align-items: baseline;
        font-weight: bolder;
    }

    .arrow-ud {
        margin-left: 3px;
        font-size: 0.91em;
    }

    .percent {
    }

    .pd__gray {
        color: #c5c5c5;
    }
</style>

{% set show = 1 %}
{% if prev %}
    {% set price = curr | float %}
    {% set old_price = prev | float %}
    {% set price_change = price - old_price %}

    {# threshold for neutrality: 0.1% of old_price #}
    {% set neutral_threshold = (old_price * 0.001) if old_price else 0 %}

    {% if (price_change | abs) <= neutral_threshold %}
        {# Neutral case #}
        {% set percent_change = 0 %}
        {% set arrow_symbol = '≈' %}
        {% set color = 'neutral' %}
        {% set show = 0 %}
    {% else %}
        {% if abs_value %}
            {% set percent_change = (curr - prev) | round(2) %}
            {% set epilogue = epilogue or ' ' %}
        {% else %}
            {% set percent_change = price_change / prev * 100 if old_price else -100 %}
            {% set percent_change = percent_change | round(2) %}
        {% endif %}
        {% set arrow = 'up' if price_change > 0 else 'down' %}
        {% set color = 'up-arrow' if price_change > 0 else 'down-arrow' %}
        {% set price_change = price_change | round(2) %}
        {% set arrow_symbol = '▲' if price_change > 0 else '▼' %}
    {% endif %}
{% else %}
    {% set arrow_symbol = '' %}
    {% set percent_change = 'N/A' %}
    {% set color = 'pd__gray' %}
{% endif %}

% set epilogue = epilogue or '%'

{% if show %}
<div class="price-delta">
    {% if label %}
        <div class="price-label">{{ label }}:</div>
    {% endif %}
    <div class="price-change {{ color }}">
        <div class="percent">{{ percent_change }}{{ epilogue }}</div>
        <div class="arrow-ud">{{ arrow_symbol }}</div>
    </div>
</div>
{% endif %}