<style>
    .page-title {
        letter-spacing: 0.15em;
        font-family: ThorFontLight, a;
        font-size: 43px;
        color: #c8c8c8;
        font-weight: bold;
    }

</style>
<div class="header-box">
    <img class="logo" src="renderer/static/img/tc_logo_transparent.png?rv=1" alt="THORChain logo">
    <div class="page-title">THORCHAIN {{ title }}</div>
</div>
