# THORChain monitoring bot configuration file
# Rename it to "config.yaml"

log_level: INFO

sleep_before_start: 3
startup_step_delay: 3.0 # (!) new. Delay between startup steps (in seconds)

sentry:
  url: ""

web3:
  ETH:
    rpc: "https://mainnet.infura.io/v3/1234abdc9876610efef"
  AVAX:
    rpc: "https://api.avax.network/ext/bc/C/rpc"
  BSC:
    rpc: "https://bscrpc.com"
  cache_expire: 30d
  retries: 3
  retry_wait: 2s


thor:
  network_id: "mainnet"

  node:
    node_url: "https://thornode.ninerealms.com/"
    rpc_node_url: "https://rpc.ninerealms.com/"
    backup_node_url: "https://thornode-archive.ninerealms.com"

  midgard:
    tries: 3
    public_url: "https://midgard.ninerealms.com/"
  #    public_url: "https://midgard.thorchain.info/"

  timeout: 20.0

  stable_coins:
    - ETH.USDC-0XA0B86991C6218B36C1D19D4A2E9EB0CE3606EB48
    - ETH.USDT-0XDAC17F958D2EE523A2206206994597C13D831EC7
    - ETH.USDT-0XA3910454BF2CB59B8B3A401589A3BACC5CA42306  # test
    - BSC.BUSD-0XE9E7CEA3DEDCA5984780BAFC599BD69ADD087D56
    - AVAX.USDC-0XB97EF9EF8734C71904D8002F8B6BC66DD9C48A6E
    - BNB.USDT-6D8
    - BNB.USDT-DC8  # test
    - BNB.BUSD-BD1
    - BNB.BUSD-BAF  # test
    - BNB.BUSD-74E  # test


  circulating_supply:
    # https://docs.etherscan.io/getting-started/creating-an-account
    ether_scan_key: PLEASEPUTANETHERSCANKEYHERE
    cache_time: 10m


personal:
  rate_limit:
    number: 50
    period: 5m
    cooldown: 1h

  scheduler:
    enabled: true
    poll_interval: 10s


telegram:
  bot:
    token: "insert the bot token from @BotFather here"
    username: "thor_infobot"
  common:
    loading_sticker: CAACAgIAAxkBAAIRx1--Tia-m6DNRIApk3yqmNWvap_sAALcAAP3AsgPUNi8Bnu98HweBA

  admins:
    - 12345  # List of TG admins

  buffer_chat: -12334  # a chat for uploading temporary photos (like photo-hosting), add this bot to it

  menu:
    node_op_tools:
      enabled: true

  inline_bot:
    enabled: true
    cache_time: 5m


discord:
  enabled: true
  bot:
    token: "token.for.discord.bot"


slack:
  enabled: true
  bot:
    app_token: xapp-1234134567
    client_id: "123.345"
    client_secret: 1234567890abcdef
    singing_secret: 1234567890abcdef


twitter:
  enabled: true
  is_mock: false
  bot:
    consumer_key: "111"
    consumer_secret: "222"
    access_token: "333"
    access_token_secret: "444"


web:
  debug: false
  port: 8077
  host: 0.0.0.0
  public_url: https://settings.thornode.org
  #  public_url: https://test-settings.thornode.org
  serve_front_end: false  # false on production, this is work for nginx


broadcasting:
  startup_delay: 10s  # skip all messages during this period of time until flood settles down

  channels:
    - type: telegram
      name: "@thorchain_alert"  # live channel
      lang: eng
    - type: discord
      name: 322323232323  # channel ID
      lang: rus
    - type: twitter
      lang: eng-tw


node_op_tools:
  enabled: true

  watchdog:
    enabled: true
    disconnected_cable_timeout: 20m
  types:
    chain_height:
      # 'most_common' or 'max' or  'max_committee' (default)
      top_height_estimation_method: 'max_committee'
      min_committee_members: 3
    online_service:
      tcp_timeout: 1  # sec
      group_size: 60


native_scanner:
  enabled: true

  max_attempts_per_block: 8

  reserve_address: "thor1dheycdevq39qlkxs2a6wuuzyn4aqxhve4qxtxt"

  prohibited_addresses:
    - "thor1dheycdevq39qlkxs2a6wuuzyn4aqxhve4qxtxt"
    - "thor17gw75axcnr8747pkanye45pnrwk7p9c3cqncsv"
    - "thor1g98cy3n9mmjrpn0sxmn63lztelera37n8n67c0"
    - "thor1v8ppstuf6e3x0r4glqc68d5jqcs2tf38cg2q6y"

  user_counting:
    exclude_addresses:
      - "thor1dheycdevq39qlkxs2a6wuuzyn4aqxhve4qxtxt"
      - "thor17gw75axcnr8747pkanye45pnrwk7p9c3cqncsv"
      - "thor1v8ppstuf6e3x0r4glqc68d5jqcs2tf38cg2q6y"
      - "thor1g98cy3n9mmjrpn0sxmn63lztelera37n8n67c0"

  clean_block_older_than_block: 10000


names:
  thorname:
    enabled: false
    expire: 48h

  preconfig:
    "thor1dheycdevq39qlkxs2a6wuuzyn4aqxhve4qxtxt": "Reserve"
    "thor17gw75axcnr8747pkanye45pnrwk7p9c3cqncsv": "Bond Module"
    "thor1lj62pg6ryxv2htekqx04nv7wd3g98qf9gfvamy": "Standby Reserve"
    "thor1t60f02r8jvzjrhtnjgfj4ne6rs5wjnejwmj7fh": "Binance Cold"
    "thor1cqg8pyxnq03d88cl3xfn5wzjkguw5kh9enwte4": "Binance Cold 2"
    "thor1uz4fpyd5f5d6p9pzk8lxyj4qxnwq6f9utg0e7k": "Binance Hot"
    "thor1g98cy3n9mmjrpn0sxmn63lztelera37n8n67c0": "Pool Module"
    "thor1lrnrawjlfp6jyrzf39r740ymnuk9qgdgp29rqv": "Vested Wallet1"
    "thor16qnm285eez48r4u9whedq4qunydu2ucmzchz7p": "Vested Wallet2"
    "thor1505gp5h48zd24uexrfgka70fg8ccedafsnj0e3": "Treasury1"
    "thor14n2q7tpemxcha8zc26j0g5pksx4x3a9xw9ryq9": "Treasury2"
    "thor1qd4my7934h2sn5ag5eaqsde39va4ex2asz3yv5": "Treasury Multisig"
    "thor1y5lk3rzatghv9y4s4j90qt9ayq83e2dpf2hvzc": "Vesting 9R"
    "thor1ty6h2ll07fqfzumphp6kq3hm4ps28xlm2l6kd6": "crypto.com"
    "thor1egxvam70a86jafa8gcg3kqfmfax3s0m2g3m754": "TreasuryLP"
    "thor1v8ppstuf6e3x0r4glqc68d5jqcs2tf38cg2q6y": "Synth Minter"

    "thor1jw0nhlmj4lv83dwhfknqnw6tmlvgw4xyf6rgd7": "KuCoin Hot"
    "thor1hy2ka6xmqjfcwagtplyttayug4eqpqhu0sdu6r": "KuCoin Cold"
    "thor15h7uv2339vdzt2a6qsjf6uh5zc06sed7szvze5": "Ascendex"
    "thor1nm0rrq86ucezaf8uj35pq9fpwr5r82clphp95t": "Kraken"

    "thor1fddercd7pufy0adf2rh7ml2x9jdwla5lp56dpe": "TrustWalletFee"

    bnb1jzdy3vy3h0ux0j7qqcutfnsjm2xnsa5mru7gtj: "FTX"
    bnb142q467df6jun6rt5u2ar58sp47hm5f9wvz2cvg: "Binance 1"
    bnb1u2agwjat20494fmc6jnuau0ls937cfjn4pjwtn: "Binance 2"
    bnb1fnd0k5l4p3ck2j9x9dp36chk059w977pszdgdz: "Binance 3"
    bnb136ns6lfw4zs5hg4n85vdthaad7hq5m4gtkgf23: "Binance Deposits"
    bnb1dtpty6hrxehwz9xew6ttj52l929cu8zehprzwj: "KuCoin Cold"
    bnb13q87ekxvvte78t2q7z05lzfethnlht5agfh4ur: "KuCoin Hot"
    bnb1apkwlqftwue7mcwvhe8zckxq030afecat9lkae: "Probit"
    bnb16e9kvc8846lht4y2yav777p6hweffcqvva757l: "HitBTC"
    bnb10af52w77pkehgxhnwgeca50q2t2354q4xamz5y: "MEXC"
    bnb165r4pxe862hetuz2l3wt4yx43uhh4ph9u0ptz6: "Unknown CEX"
    bnb1pv5vycd4xe3nu0msrewgf9tmfvam8yr3x6j97q: "Ascendex"
    bnb1zp46uw7w3g5uku2tme5fvarf6ldf3j2l5g6cv2: "Ascendex 2"
    bnb1axqc2gan462z6npw3c33srp4950mr5x28uc6wu: "THORChain Community"
    bnb13a7gyv5zl57c0rzeu0henx6d0tzspvrrakxxtv: "THORChain Operational"
    bnb1e4q8whcufp6d72w8nwmpuhxd96r4n0fstegyuy: "Burn address"

  affiliates: # (!) new
    wr: THORWallet
    ss: ShapeShift
    t: ThorSwap
    tr: Trust iOS
    te: Trust Android
    dx: Asgardex


tx:
  enabled: true

  # Everything except SWAPS!
  max_age: 2d
  fetch_period: 60
  tx_per_batch: 50
  max_page_deep: 5
  max_tx_per_single_message: 6

  ignore_donates: true

  announce_pending_after_blocks: 500

  add_date_if_older_than: 2h

  exclamation:
    fee_usd_limit: 3000
    ilp_usd_limit: 5000
    slip_usd_limit: 5000

  curve:
    - depth: 10k
      percent: 12
    - depth: 100k
      percent: 8
    - depth: 1m
      percent: 4
    - depth: 10m
      percent: 2

  liquidity:
    enabled: true
    min_usd_total: 50000
    curve_mult: 0.8

    also_trigger_when:
      ilp_paid_usd_greater: 5000
      affiliate_fee_usd_greater: 1000

    savers:
      enabled: true
      min_usd_total: 100
      curve_mult: 0.00008

  swap:
    enabled: true
    min_usd_total: 5000
    curve_mult: 0.3

    also_trigger_when:
      dex_aggregator_used:
        min_usd_total: 1000
      affiliate_fee_usd_greater: 1000
      streaming_swap:
        volume_greater: 25000
        notify_start: true

  donate:
    enabled: true
    min_usd_total: 1000
    curve_mult: 0.075

  refund:
    enabled: true
    min_usd_total: 50000
    curve_mult: 0.1

  loans:  # (!) new
    enabled: true
    min_usd_total: 5000
    # curve_mult: 0.1

  dex_aggregator_update:
    enabled: true
    cooldown: 4d

  show_add_more: false


price:
  enabled: true
  fetch_period: 60
  global_cd: 12h
  change_cd: 1h
  percent_change_threshold: 5
  price_graph:
    default_period: 7d

  cex_reference:
    cex: binance
    pair: USDT

  ath:
    cooldown: 2m
    stickers:
      - CAACAgIAAxkBAAIPuF-zvf5B1guBsIC8YqQE7jHnNP39AAJkBQACP5XMCgTLN7BUdOcAAR4E
      - CAACAgIAAxkBAAIPul-zvjBr2Oc88YgFBNhMtktP4pCeAAJpAgACVp29Cta5X0h7RGRvHgQ
      - CAACAgIAAxkBAAIPvF-zvjn4-XPhcr-M06zZUUvwF700AAIpAAM7cR8iDQ6e_eGNDLUeBA
      - CAACAgIAAxkBAAIPvl-zvkRAYSkjyVNi9QxzovYSDK4DAAKqBQACP5XMCpXI5d6t1J7eHgQ
      - CAACAgIAAxkBAAIPwF-zvlRib5d5xSR1kWEwr0rpTJbIAAISAAP3F4Erq1mdGtkjKYUeBA
      - CAACAgIAAxkBAAIPol-zvRRRPSdC-Sr4lqhKsfNWWh3qAAJPAQACIjeOBHyVl0hMcbwXHgQ
      - CAACAgIAAxkBAAIPsF-zvVaSci3nhGf2-6l2YUEKcMKnAAICAAMUkqgdqsiIC2ZyV0oeBA
      - CAACAgIAAxkBAAIPsl-zvWI-Ihnnh0BSm6BM6DpYjYuJAAISAAP3F4Erq1mdGtkjKYUeBA
      - CAACAgIAAxkBAAIPuF-zvf5B1guBsIC8YqQE7jHnNP39AAJkBQACP5XMCgTLN7BUdOcAAR4E
      - CAACAgIAAxkBAAIPul-zvjBr2Oc88YgFBNhMtktP4pCeAAJpAgACVp29Cta5X0h7RGRvHgQ
      - CAACAgIAAxkBAAIPul-zvjBr2Oc88YgFBNhMtktP4pCeAAJpAgACVp29Cta5X0h7RGRvHgQ
      - CAACAgIAAxkBAAIPvl-zvkRAYSkjyVNi9QxzovYSDK4DAAKqBQACP5XMCpXI5d6t1J7eHgQ
      - CAACAgIAAxkBAAIPwF-zvlRib5d5xSR1kWEwr0rpTJbIAAISAAP3F4Erq1mdGtkjKYUeBA
      - CAACAgIAAxkBAAIPwl-zyp2DJdPINcX6h0ZGesaakaMnAAJ9AwACbbBCA70TLvm2TbpTHgQ
      - CAACAgIAAxkBAAIPyV-zzEtVsFiaAWTVrJ8ROptFYUqjAAJFAAP3F4ErgJFXK7AarK4eBA
      - CAACAgIAAxkBAAJQsV_4emucc8THq6MbytL5PcclEG4NAAKMCwACLw_wBoRsyFANo_xWHgQ
      - CAACAgIAAxkBAAJQs1_4epK5KoxnhAJ3R5akKXpIfN1nAAKfAQACFkJrCmWMf9oXSSAlHgQ
      - CAACAgUAAxkBAAJQtV_4eqqciwvp9NCRdslyOoCKsOSaAAIdAAPRi-Yk3GCYqQrnOzceBA
      - CAACAgIAAxkBAAJQt1_4esnnDoR3NjLpgKHilirOZWybAAJsAAMUkqgduXN64vXUPDceBA
      - CAACAgUAAxkBAAJQuV_4eupYryWgJXeuLUu8xQsrfiBEAAIMAAPRi-Ykfll73qqZa3keBA
      - CAACAgUAAxkBAAJQu1_4eu8AAVG_deJgnwdKZcU9bsMYdgACGQAD0YvmJI2929l8C8ycHgQ
      - CAACAgUAAxkBAAJQvV_4ev8v5xXq_gABGb1O3g7UzdcZeAACHAAD0YvmJMnrKQclfN7VHgQ
      - CAACAgUAAxkBAAJQv1_4ewpDR4CoS3lWCVv2P0jEgZjfAAIUAAPRi-YkVzAp86uZwLMeBA
      - CAACAgUAAxkBAAJQw1_4ex7Ly2p8QAuLQvkeASXbgk9mAAIfAAPRi-YkQByn2GfGsIAeBA
      - CAACAgIAAxkBAAJQxV_4ezGuN6vz35bTfmLe4GPoT6GFAAKlAQACFkJrCqSMglNGCdzWHgQ
      - CAACAgUAAxkBAAJQtV_4eqqciwvp9NCRdslyOoCKsOSaAAIdAAPRi-Yk3GCYqQrnOzceBA
      - CAACAgIAAxkBAAJQt1_4esnnDoR3NjLpgKHilirOZWybAAJsAAMUkqgduXN64vXUPDceBA
      - CAACAgUAAxkBAAJQuV_4eupYryWgJXeuLUu8xQsrfiBEAAIMAAPRi-Ykfll73qqZa3keBA
      - CAACAgUAAxkBAAJQu1_4eu8AAVG_deJgnwdKZcU9bsMYdgACGQAD0YvmJI2929l8C8ycHgQ
      - CAACAgUAAxkBAAJQvV_4ev8v5xXq_gABGb1O3g7UzdcZeAACHAAD0YvmJMnrKQclfN7VHgQ
      - CAACAgIAAxkBAAKYGmAxSKM0wcVUir6olqJ8GUILs7PEAAI2AwACnNbnCqJFmbVS5co5HgQ
      - CAACAgIAAxkBAAKYGGAxSJmnC6uu7NyUkjwD2uQ2k8Z3AAITAwACnNbnCv7sKag-OU5jHgQ
      - CAACAgIAAxkBAAKYFmAxSI6jczWX5DMkK9N7D5U3arbZAAIDAQACVp29CgLl0XiH5fpPHgQ
      - CAACAgIAAxkBAAKYHGAxSOVmUIJnSALFOQmjvDUUhE8SAAIvAwACnNbnCp7xW8futGVHHgQ
      - CAACAgIAAxkBAAKYHmAxSPKMMhaVi529pPU-_ROhQlB_AAIUAAM7YCQUKWeBEgL3yOoeBA
      - CAACAgIAAxkBAAKYImAxSRLALhyBbigWlLSUzrLaf84mAAJVBgAC-gu2CMHtlUjSy95hHgQ
      - CAACAgIAAxkBAAKYJGAxSSC1U9D67zyg-7RJfjkork8EAAKMAAMWQmsKQo7-Yhc9TeIeBA
      - CAACAgIAAxkBAAKYJmAxST6CTOiOStfQ9CH7hqLiv0iWAAL8BgACRvusBG1XSZhZ24v-HgQ

  divergence:
    enabled: true
    cooldown: 12h

    public:
      min_percent: 1.9
      max_percent: 5.5
    personal:
      enabled: true
      cooldown: 30m

  volume:
    record_tolerance: 1h


rune_transfer:
  enabled: true
  fetch_period: 30

  min_usd:
    bep2: 300000
    native: 200000
  cooldown: 10

  flow_summary:
    enabled: true
    cooldown: 1d

  cex_list:
    - bnb1jzdy3vy3h0ux0j7qqcutfnsjm2xnsa5mru7gtj
    - bnb142q467df6jun6rt5u2ar58sp47hm5f9wvz2cvg
    - bnb1u2agwjat20494fmc6jnuau0ls937cfjn4pjwtn
    - bnb1fnd0k5l4p3ck2j9x9dp36chk059w977pszdgdz
    - bnb136ns6lfw4zs5hg4n85vdthaad7hq5m4gtkgf23
    - bnb1dtpty6hrxehwz9xew6ttj52l929cu8zehprzwj
    - bnb1apkwlqftwue7mcwvhe8zckxq030afecat9lkae
    - bnb16e9kvc8846lht4y2yav777p6hweffcqvva757l
    - bnb10af52w77pkehgxhnwgeca50q2t2354q4xamz5y
    - bnb165r4pxe862hetuz2l3wt4yx43uhh4ph9u0ptz6
    - bnb1pv5vycd4xe3nu0msrewgf9tmfvam8yr3x6j97q
    - bnb13q87ekxvvte78t2q7z05lzfethnlht5agfh4ur
    - thor1t60f02r8jvzjrhtnjgfj4ne6rs5wjnejwmj7fh
    - thor1uz4fpyd5f5d6p9pzk8lxyj4qxnwq6f9utg0e7k
    - thor1ty6h2ll07fqfzumphp6kq3hm4ps28xlm2l6kd6
    - thor1cqg8pyxnq03d88cl3xfn5wzjkguw5kh9enwte4
    - thor1jw0nhlmj4lv83dwhfknqnw6tmlvgw4xyf6rgd7
    - thor1hy2ka6xmqjfcwagtplyttayug4eqpqhu0sdu6r
    - thor15nzfs98pz8qsuvpuvq4eepe9n4rhsp4pp0g84g
    - thor15h7uv2339vdzt2a6qsjf6uh5zc06sed7szvze5

  ignore_cex2cex: true


cap:
  enabled: true
  fetch_period: 120

  full:
    enabled: True
    full_limit_ratio: 0.995
    open_up_limit_ratio: 0.97

  raised:
    stickers:
      - CAACAgIAAxkBAAIKKmCLydn1J32d6Rawoy8AAZYxwCXnPQACLQADFJKoHX4nAr5MyGKYHwQ
      - CAACAgIAAxkBAAIKLGCLyeS4VTRUaSJDGhpCQ-51H8HHAAJGAAMUkqgdblkQIwX7yqsfBA
      - CAACAgIAAxkBAAIKMGCLyi1YmvVywp3aSZV7tuAzFUhLAAI9AAMUkqgdxLKS55dH2qkfBA
      - CAACAgIAAxkBAAIKRWCL-Q5NWNZJbYhHEA300U7qbZGWAAL4DgAC2GVZSLdSltiAcx7cHwQ


queue:
  enabled: true
  fetch_period: 60
  threshold:
    avg_period: 10m
    congested: 20
    free: 2
  cooldown: 3600
  watch_queues:
    - outbound
    - internal
    - swap


net_summary:
  enabled: true
  fetch_period: 120s
  notification:
    cooldown: 6h


pool_churn:
  enabled: true
  notification:
    cooldown: 1h


node_info:
  enabled: true
  fetch_period: 5s  # for it must not be too slow for NodeOp tools accuracy
  geo_ip:
    expire: 48h

  churn:
    filter_nonsense: false

  version:
    enabled: true
    new_version_appears: # node joined/upgraded to unseen version
      enabled: true
      cooldown: 15m
    version_activates: # new active version (minimal active version)
      enabled: true
      cooldown: 15m
    upgrade_progress: # if not all act. nodes run same version, show upgrade progress every cooldown
      enabled: true
      cooldown: 2h
      minimum_nodes: 4
      minimum_progress_step_percent: 5


constants:
  mimir_change:
    enabled: true
  fetch_period: 130s

  voting:
    enabled: true
    notification:
      cooldown: 2h


chain_state:
  enabled: true
  fetch_period: 67s


last_block:
  enabled: true
  fetch_period: 30s
  chart:
    estimation_interval: 5m
  stuck_alert:
    time_limit: 120s
    repeat_cooldown: 24h
    chart_duration: 36h
  normal_block_time: 0.16666  # 1 block = 6 sec
  normal_block_speed_deviation_percent: 15
  low_block_speed_percent: -50
  high_block_speed_percent: 50


best_pools:
  enabled: true
  num_of_top_pools: 5
  cooldown: 1d
  fetch_period: 10m


blockchain:
  block_time: # block_time overriding... (optional)
    BTC: 10m
    ETH: 14s


supply:
  enabled: true
  period: 7d


saver_stats:
  enabled: true
  period: 3d


wallet_counter:
  enabled: true
  fetch_period: 1h


achievements:
  enabled: true

  cooldown:
    hits_before_cd: 5
    period: 15m


pol:
  enabled: true
  fetch_period: 30m
  notification:
    cooldown: 1d
    allow_when_zero: false


key_metrics:
  enabled: true
  fetch_period: 10m
  data_max_age: 36h
  notification:
    cooldown: 7d
