{% extends "base.jinja2" %}

{% block content %}
    <style>
        .grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 10px;
            padding: 10px;
        }

        .grid img {
            width: 64px;
            height: auto;
            border-radius: 8px;
            object-fit: cover;
        }

        .main-container {
            scale: 0.3;
        }
    </style>

    {% with title="DBG AFF LOGO" %}
        {% include "components/header.jinja2" %}
    {% endwith %}

    <div class="main-container">
        {#        <div class="grid">#}
        {#            {% for thorname in thorname_to_name %}#}
        {#                {% with logo = name_to_logo[thorname.lower()] %}#}
        {##}
        {#                {% endwith %}#}
        {#            {% endfor %}#}
        {#        </div>#}
        {% with affiliate_fee=0 %}
            {% include "components/aff-logo-fan.jinja2" %}
        {% endwith %}
    </div>

    <script>

    </script>

{% endblock %}
