{% extends "base.jinja2" %}

{% block extra_head %}
    <link rel="stylesheet" href="renderer/static/css/rujira.css?r={{ range(-100, 100) | random }}">
{% endblock %}

{% block content %}

    <style>
        .pane {
            padding: 0;
            margin: 0;
            width: 50%;
            display: flex;
            flex-direction: column;
            height: 100%;

        {#outline: 2px solid #222;#}{#border-radius: 20px;#}
        }

        .merge-container {
            display: flex;
            flex-direction: row;
            gap: 40px;
            margin-top: 14px;
        }

        .recent-txs-pane {
            margin-top: -10px;
        }

        .tx-list {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        .decay-block {
            margin: 0;
            position: absolute;
            right: 9%;
            top: 6%;
            font-size: 24px;
            padding: 14px 20px 14px 20px;

            {#outline: 2px solid  rgba(200, 200, 200, 0.5);#}
            background: rgba(197, 197, 197, 0.1);

            border-radius: 20px;
        }

        #decay-date {
            font-weight: bold;
        }

        .header-top-recent-txs {
            width: 100%;
            text-align: left;
            font-size: 30px;
            letter-spacing: 8px;
            margin-bottom: 18px;
            color: #c5c5c5;

        }
    </style>

    {% with title="RUJIRA MERGE STATS" %}
        {% include "components/rujira/header.jinja2" %}
    {% endwith %}

    <div class="main-container merge-container">

        <div class="pane">
            {% for contract in merge['contracts'] %}
                {% include "components/rujira/merge-block.jinja2" %}
            {% endfor %}
        </div>

        <!-- LAST TRANSACTIONS -->
        <div class="pane recent-txs-pane">
            <div class="header-top-recent-txs">
                TOP TRANSACTIONS 24H
            </div>
            <div class="tx-list">
                {% for tx in top_txs[:9] %}
                    {% include "components/rujira/merge-tx.jinja2" %}
                {% endfor %}
            </div>


        </div>

    </div>

    <div class="decay-block fade-color">
        <span>Decay Starting In...</span>
        <span id="decay-date"></span>
    </div>


    <script src="renderer/static/js/helpers.js"></script>

    <script>
        let topTxs = {{ top_txs|safe }};
        let contracts = {{ merge['contracts']|safe }};
        const decayTimestamp = contracts[0].config.decay_starts_at
        const decayInSeconds = (new Date(decayTimestamp * 1000) - new Date()) / 1000;

        if (decayInSeconds > 0) {
            document.getElementById("decay-date").innerHTML = secondsToDaysHours(decayInSeconds)
        }
        // todo! change label text if decay started

    </script>
{% endblock %}
