{% extends "base.jinja2" %}

{% block content %}
    <style>

    </style>

    {% with title="RUJIRA MERGE STATS" %}
        {% include "components/rujira/header.jinja2" %}
    {% endwith %}

    <div class="main-container">
        <p>{{ top_txs }}</p>
    </div>


    <script>
        let topTxs = {{ top_txs|safe }};
    </script>
{% endblock %}
