{% set _width, _height = set_viewport_size(1280, 720) %}
{% extends "base.jinja2" %}

{% block content %}

    <style>

        /* Optional: Style the canvas container */
        #chart-container {
            position: absolute;
            top: 20%;
            left: 3%;

            right: 3%;
            height: 53%;
            padding: 20px;
            font-family: ThorFontLight, serif;
            font-weight: lighter;
        }

        .indicator-container {
            position: absolute;
            bottom: 5%;
            left: 3%;
            right: 3%;
            height: 18%;

            display: flex;
            flex-direction: row;
            align-items: stretch;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        .indicator-box {
            display: flex;
            padding: 12px;

            background: rgba(52, 51, 51, 0.21);
            border-radius: 12px;
            font-family: ThorFontLight, serif;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }

        .indicator-label {
            display: flex;

            font-weight: normal;
            font-size: 18px;
        {#color: #a3a3a3;#} color: rgb(40 244 175);
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .indicator-subvalue {
            display: flex;
            font-weight: bolder;
            font-size: 24px;
            color: #eee;
            margin-bottom: 3px;
            letter-spacing: 2px;
            text-shadow: none;
        }

        .indicator-value {
            font-weight: bold;
            font-size: 32px;
            color: #ffffff; /* Bright orange color */
            margin-bottom: 3px;
            letter-spacing: 2px;
            text-shadow: rgba(228, 164, 1, 0.53) 1px 0 10px;
        }

        .burn-percent {
            padding-top: 9px;
            font-size: 42px;
        }

        .fire:after {
            content: '🔥';
        }

        .fire-over {
            filter: saturate(200%);
        }


    </style>

    <div class="header-box">
        <img class="logo" src="renderer/static/img/tc_logo_transparent.png?rv=1" alt="THORChain logo">
        <div class="title">THORCHAIN 🔥 BURNED RUNE</div>
    </div>

    <div class="indicator-container">

        <div class="indicator-box cbox">
            <div class="indicator-value burn-percent">🔥{{ "%.1f"|format(system_income_burn_percent) }} %</div>
            <div class="indicator-label">System Income burn</div>
        </div>

        <div class="indicator-box cbox">
            <div class="indicator-value"><span class="fire"></span>{{ "%.1f"|format(last_24h_burned_rune) }}ᚱ</div>
            <div class="indicator-subvalue">({{ short_dollar(last_24h_burned_usd) }})</div>
            <div class="indicator-label">burned last 24H</div>
        </div>

        <div class="indicator-box cbox">
            <div class="indicator-value"><span class="fire"></span>{{ short_rune(prev_max_rune - curr_max_rune) }}</div>
            <div class="indicator-subvalue">({{ short_dollar((prev_max_rune - curr_max_rune) * usd_per_rune) }})</div>
            <div class="indicator-label">burned last {{ tally_days|int }} days</div>
        </div>

        <div class="indicator-box cbox">
            <div class="indicator-value"><span class="fire"></span> {{ short_rune(total_burned_rune) }}</div>
            <div class="indicator-subvalue">({{ short_dollar(total_burned_usd) }})</div>
            <div class="indicator-label">Total burned</div>
        </div>

        <div class="indicator-box cbox">
            <div class="indicator-value"><span class="fire fire-over"></span>{{ short_rune(yearly_burn_prediction) }}
            </div>
            <div class="indicator-subvalue">({{ short_dollar(yearly_burn_prediction * usd_per_rune) }})</div>
            <div class="indicator-label">Prediction for 1 year</div>
        </div>

    </div>


    <div id="chart-container" class="shadow-box">
        <canvas id="myBarChart"></canvas>
    </div>

    <script>
        // Get the context of the canvas element we want to select
        const ctx = document.getElementById('myBarChart').getContext('2d');

        const gradient = ctx.createLinearGradient(0, 0, 0, 200);
        gradient.addColorStop(1, '#33FF99'); // Top color
        gradient.addColorStop(0, '#00CCFF'); // Bottom color

        Chart.defaults.font.family = 'ThorFontLight'; // Set the font family for the chart
        Chart.defaults.color = 'rgb(200, 200, 200)'; // Set the font color for the chart

        const runeBurnt = {{ points|safe }};
        console.log(runeBurnt);

        // points are [ [x, y], [x, y], ... ]

        let dateStrings = runeBurnt.map(point => new Date(point[0] * 1e3));
        console.log(dateStrings)

        // format dates to DD.MM HH:MM
        let prevDate = null
        dateStrings = dateStrings.reverse().map(date => {
            const day = date.getDate().toString().padStart(2, '0');
            const month = (date.getMonth() + 1).toString().padStart(2, '0');
//            const hours = date.getHours().toString().padStart(2, '0');
//            const minutes = date.getMinutes().toString().padStart(2, '0');even
            const label = `${day}.${month}`
            if (prevDate === label) {
                return ' '
            } else {
                prevDate = label
                return label
            }
        }).reverse()
        console.log(dateStrings)

        const values = runeBurnt.map(point => point[1]);

        // Define the data for the chart
        const data = {
            labels: dateStrings, // X-axis labels
            datasets: [{
                label: '',
                data: values, // Y-axis data
                {#backgroundColor: '#33FF99', // Bar color#}
                backgroundColor: gradient,
                borderWidth: 2,
                borderRadius: Number.MAX_VALUE,
                borderSkipped: false,
            }]
        };

        // Define the configuration options
        const config = {
            type: 'bar', // Specify the chart type
            data: data,
            options: {
                animation: false,
                animations: {
                    colors: false,
                    x: false
                },

                responsive: true, // Make the chart responsive
                maintainAspectRatio: false, // Maintain the aspect ratio
                tooltips: {
                    enabled: false
                },
                scales: {
                    x: {
                        title: {
                            display: false,
                        },
                        grid: {
                            color: 'rgba(255, 255, 255, 0.1)',
                        },
                        ticks: {
                            font: {
                                size: 24,
                            }
                        },
                    },
                    y: {
                        beginAtZero: true, // Start the Y-axis at zero
                        grid: {
                            color: 'rgba(255, 255, 255, 0.1)',
                        },
                        ticks: {
                            font: {
                                size: 18,
                            }
                        },
                    },

                },
                plugins: {
                    title: {
                        display: false,
                    },
                    legend: {
                        display: false
                    },
                }
            }
        };

        // when fonts loaded
        document.fonts.ready.then(() => {
            // Create and render the chart
            new Chart(ctx, config);
        });

    </script>

{% endblock %}
