{% extends "base.jinja2" %}

{% block content %}

    {% include "components/_tx_helpers.jinja2" %}

    <style>
        .line-box {
            display: flex;
        }

        .route-box {
            position: absolute;
            left: 11%;
            right: 11%;
            top: 24%;
            height: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .logo-holder {
            display: flex;
            flex-direction: column;
        }

        .tc-glow {
            filter: drop-shadow(6px 6px 12px rgba(0, 213, 213, 0.51)) drop-shadow(-6px -6px 12px rgba(3, 243, 150, 0.51));
        }

        .circle-tc-logo {
            width: 200px;
            padding: 13px;
        }

        .arrow-lr {
            width: 200px;
            filter: brightness(190%) hue-rotate(30deg) saturate(200%) drop-shadow(3px 3px 4px rgba(0, 213, 213, 0.51)) drop-shadow(-3px -3px 4px rgba(3, 243, 150, 0.51));

            padding: 0;
        }

        .arrow-pending {
            width: 200px;
            padding: 0;
            filter: brightness(80%) hue-rotate(30deg) saturate(100%);
            opacity: 0.9;
        }


        .logo-part {
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .user-name {
            font-size: 40px;
            font-style: normal;
            font-weight: normal;
            color: #bbb;
        }

        .input-amount, .output-amount {
            text-shadow: 0 0 10px rgba(69, 221, 237, 60%);
            font-size: 65px;
        }

        .asset-part {
            display: flex;
            flex-direction: column;
            margin-top: 50px;

            font-family: ThorFontLight, serif;
            font-weight: bold;
            font-size: 50px;

            position: absolute;
            top: 80%;
            width: 43%;

            text-align: center;
        }

        .arrow-down-holder {
            position: absolute;
            margin-top: 22%;
            transform: translate(-70px, 0);
            width: 340px;
            text-align: center;
        }

        .arrow-down {
            width: 30px;
            margin-bottom: 10px;
        }

        .arrow-aff {
            filter: brightness(200%);
            opacity: 90%;
        }

        .arrow-no-aff {
            filter: brightness(500%) saturate(0%);
            opacity: 0.4;
        }

        .above-arrow {
            position: absolute;
            bottom: 160px;
            width: 180px;
            text-align: center;
        }

        .tx-id-block {
            font-size: 30px;
            font-style: italic;
            margin-bottom: 4px;
            color: #23DCC8;
        }

        .time-block-flex {
            display: inline-flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
        }

        .time-block-interval {
            transform: translate(-10%);
            display: block;
            color: #23DCC8;
            text-align: center;
            font-size: 30px;
            width: 240px;
        }

        .clock {
            width: 60px;
            display: inline-flex;
            filter: brightness(80%);
            padding: 8px;
        }

        .wait-time {
            padding-left: 5px;
            margin-bottom: 5px;
            display: flex;
            color: #45dded;
            opacity: 0.8;
            font-weight: 400;
            font-size: 42px;
        }

        .usd-volume {
            color: #dcdbdb;
            font-weight: 400;
            font-size: 60px;
        }

        .expected-out-label {
            color: #bbb;
            font-weight: normal;
            font-size: 40px;
            padding-top: 6px;
        }

    </style>

    <div class="header-box">
        <img class="logo" src="renderer/static/tc_logo_transparent.png?rv=1" alt="THORChain logo">
        <div class="title">THORCHAIN ⤬ STREAMING SWAP STARTED</div>
    </div>


    <div class="route-box">

        <div id="source_logo" class="logo-holder">
            <div class="logo-part">

                {% with asset_name=source_asset, asset_logo=source_asset_logo, chain_logo=source_chain_logo %}
                    {% include "components/asset-logo.jinja2" %}
                {% endwith %}

                <div class="asset-part">
                    <div class="user-name">
                        {{ "🤖" if "Arb-Bot" in user_name else "👤" }}
                        {{ user_name }}
                    </div>
                    <div class="input-amount">
                        {{ short_money(source_amount) }} {{ source_asset_name }}
                    </div>
                    <div class="usd-volume">
                        ({{ short_dollar(volume_usd) }})
                    </div>
                </div>
            </div>

        </div>

        <div class="line-box">
            <img src="renderer/static/arrow2.png" alt="Arrow right" class="arrow-lr shadow">
            <div class="above-arrow tx-id-block">
                {{ shorten_text_middle(tx_hash, 4, 4) }}
            </div>
        </div>

        <div class="logo-holder">
            <img class="circle-tc-logo tc-glow" src="renderer/static/tc_logo_circle.png?rv=1" alt="THORChain logo">

            <div class="arrow-down-holder">

                <img src="renderer/static/arrow2-down.png" alt="Arrow down"
                     class="shadow arrow-down {{ "arrow-aff" if affiliate_fee > 0 else "arrow-no-aff" }}">

                {% include "components/aff-logo.jinja2" %}

            </div>

        </div>

        <div class="line-box">
            <img src="renderer/static/arrow2.png" alt="Arrow right" class="arrow-pending shadow">
            <div class="above-arrow">
                <div class="time-block-interval">
                    <strong>{{ int(swap_quantity) }}</strong>
                    <span>{{ "swaps" if swap_quantity >= 2 else "swap" }}</span><br/>every
                    <strong>{{ int(swap_interval) if int(swap_interval) > 1 else '' }}</strong>
                    <span>{{ "blocks" if swap_interval >= 2 else "block" }}</span>
                </div>
            </div>
        </div>

        <div id="dest_logo" class="logo-holder">
            <div class="logo-part">
                {% with asset_name=destination_asset, asset_logo=destination_logo, chain_logo=destination_chain_logo,
                        right=True %}
                    {% include "components/asset-logo.jinja2" %}
                {% endwith %}

                <div class="asset-part">
                    <div class="expected-out-label">Expected output</div>
                    <div class="output-amount">
                        {% if destination_amount %}
                            ≈{{ short_money(destination_amount) }} {{ destination_asset_name }}
                        {% else %}
                            ≈ N/A {{ destination_asset_name }}
                        {% endif %}
                    </div>

                    <div class="time-block-flex">
                        <img src="renderer/static/time-is-money.png" alt="Time is money..." class="clock">
                        <div class="wait-time" id="wait-time"></div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <script>
        const waitTimeSec = {{ total_estimated_time_sec }};
        let result = '??:??';
        if (waitTimeSec !== 0) {
            // format HH:MM:SS or MM:SS if less than 1 hour
            const formatTime = (time) => {
                const pad = (num) => String(num).padStart(2, '0');
                const hours = Math.floor(time / 3600);
                const minutes = Math.floor((time % 3600) / 60);
                const seconds = time % 60;
                return hours > 0 ? `${pad(hours)}:${pad(minutes)}:${pad(seconds)}` : `${pad(minutes)}:${pad(seconds)}`;
            };
            result = formatTime(waitTimeSec);
        }
        document.querySelector('#wait-time').textContent = result;
    </script>

{% endblock %}
