{% set _width, _height = set_viewport_size(1280, 720) %}
{% extends "base.jinja2" %}

{% block content %}

    {% with title="STREAMING SWAP STARTED" %}
        {% include "components/header.jinja2" %}
    {% endwith %}

    <style>
        .bg {
            background: url("renderer/static/img/bg2.svg") no-repeat center -79px;
        }

        .desaturated {
            filter: grayscale(100%) brightness(80%);
        }

        .halt-desaturated {
            filter: brightness(75%) saturate(60%);
        }

        .logo-wait-overlay {
            position: absolute;
            top: -10%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3em; /* Adjust size as needed */
            padding: 5px;
            {#filter: grayscale(100%) brightness(100%);#}
            {#filter: hue-rotate(150deg) saturate(120%);#}
            {#opacity: 0.2;#}
        }

        .logo-pending {
            {#filter: hue-rotate(24deg);#}
        }

        .arrow-pending {
            width: 200px;
            padding: 0;
            filter: brightness(80%) hue-rotate(30deg) saturate(0%);
            opacity: 0.9;
        }

    </style>

    <div class="route-box">
        <div id="source_logo" class="logo-holder">
            <div class="logo-part">

                {% with asset_name=source_asset, asset_logo=source_asset_logo, chain_logo=source_chain_logo %}
                    {% include "components/asset-logo.jinja2" %}
                {% endwith %}

                <div class="asset-part">
                    <div class="user-name">
                        {{ "🤖" if "Arb-Bot" in user_name else "👤" }}
                        {{ user_name }}
                    </div>
                    <div class="input-amount">
                        {{ short_money(source_amount) }} {{ source_asset_name }}
                    </div>
                    <div class="usd-volume">
                        ({{ short_dollar(volume_usd) }})
                    </div>
                </div>
            </div>

        </div>

        <div class="line-box">
            <img src="renderer/static/img/arrow2.png" alt="Arrow right" class="arrow-lr shadow">
            <div class="above-arrow tx-id-block">
                {{ shorten_text_middle(tx_hash, 4, 4) }}
            </div>
        </div>

        <div class="logo-holder">

            <div class="">
                <div class="logo-pending">
                    <img class="circle-tc-logo tc-glow" src="renderer/static/img/tc_logo_circle.png?rv=1" alt="THORChain logo">
                </div>
                <div class="logo-wait-overlay">⏳</div>
            </div>


            <div class="arrow-down-holder">
                <img src="renderer/static/img/arrow2-down.png" alt="Arrow down"
                     class="shadow arrow-down arrow-no-aff">

                {% include "components/aff-logo-fan.jinja2" %}

            </div>

        </div>

        <div class="line-box">
            <img src="renderer/static/img/arrow2.png" alt="Arrow right" class="arrow-pending shadow">
            {% if int(swap_quantity) > 0 %}
                <div class="above-arrow">
                    <div class="time-block-interval">
                        <strong>{{ int(swap_quantity) }}</strong>
                        <span>{{ "swaps" if swap_quantity >= 2 else "swap" }}</span><br/>every
                        <strong>{{ int(swap_interval) if int(swap_interval) > 1 else '' }}</strong>
                        <span>{{ "blocks" if swap_interval >= 2 else "block" }}</span>
                    </div>
                </div>
            {% endif %}
        </div>

        <div id="dest_logo" class="logo-holder">
            <div class="logo-part">
                {% with asset_name=destination_asset, asset_logo=destination_logo, chain_logo=destination_chain_logo,
                        right=True %}
                    <div class="halt-desaturated">
                        {% include "components/asset-logo.jinja2" %}
                    </div>
                {% endwith %}

                <div class="asset-part">
                    <div class="expected-out-label">Expected output</div>
                    <div class="output-amount desaturated">
                        {% if destination_amount %}
                            ≈{{ short_money(destination_amount) }} {{ destination_asset_name }}
                        {% else %}
                            ≈ N/A {{ destination_asset_name }}
                        {% endif %}
                    </div>

                    <div class="time-block-flex" id="time-block">
                        <img src="renderer/static/img/time-is-money.png" alt="Time is money..." class="clock">
                        <div class="wait-time" id="wait-time"></div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <script>
        const waitTimeSec = {{ total_estimated_time_sec }};

        if (waitTimeSec !== 0) {
            // format HH:MM:SS or MM:SS if less than 1 hour
            const formatTime = (time) => {
                const pad = (num) => String(num).padStart(2, '0');
                const hours = Math.floor(time / 3600);
                const minutes = Math.floor((time % 3600) / 60);
                const seconds = time % 60;
                return hours > 0 ? `${pad(hours)}:${pad(minutes)}:${pad(seconds)}` : `${pad(minutes)}:${pad(seconds)}`;
            };
            document.querySelector('#wait-time').textContent = formatTime(waitTimeSec);
        } else {
            // hide #time-block
            document.querySelector('#time-block').style.display = 'none';
        }
    </script>

{% endblock %}
