{% set _width, _height = set_viewport_size(1600, 1200) %}
{% extends "base.jinja2" %}

{% block content %}
    <style>


    </style>

    <script src="renderer/static/js/lightweight-charts.standalone.production.js"></script>

    {% with title="TCY INFO" %}
        {% include "components/header.jinja2" %}
    {% endwith %}

    <div class="main-container">
        <p>
            The TCY token is a native asset introduced by THORChain to address approximately $210 million debt
            accumulated by THORFi’s savings and lending services. Approved through community governance via Proposal 6,
            TCY converts defaulted debt into equity, transforming creditors into stakeholders.
        </p>
    </div>

    <script>
        // todo
    </script>

{% endblock %}
