{% set _width, _height = set_viewport_size(1280, 720) %}
{% extends "base.jinja2" %}

{% block content %}
    <style>

        .block-outer {
            display: flex;
            flex: 1;

            flex-direction: column;
        }

        .block-inner {
            display: flex;
            flex: 1;
            padding: 12px;
            flex-direction: column;
        }

        .main-container {
            display: flex;
            flex-direction: row;
            gap: 24px;
            align-items: stretch;
        }

        .gapped {
            gap: 12px;
        }

        .column {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
        }

        .date-range {
            font-weight: bolder;
            font-size: 20px;
            letter-spacing: 0.2rem;
            color: #aaa;
            right: 8.9%;
            top: 98px;
            display: block;
            position: absolute;
        }

        .title {
            letter-spacing: 1.2rem;
            color: white;
        }

        .block-title {
            display: block;
            color: #999;
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            text-align: center;
            width: 100%;
            margin-bottom: 6px;
        }


        .vault-asset-box {
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .vault-delta {
            font-weight: bolder;
            font-size: 20px;
            padding-top: 17px;
        }

        .vault-amount {
            display: flex;
            font-size: 40px;
            font-weight: bold;
        }

        .route {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }

        .affiliate-table {
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: space-between;
            width: 100%;
            padding-top: 8px;
        }

        .affiliate-row {
            display: flex;
            flex-direction: row;

            align-content: center;
            gap: 6px;
            padding-bottom: 3px;
        }

        .affiliate-logo {
            height: 32px;
            width: 32px;
            vertical-align: middle;
            margin-right: 4px;
        }

        .affiliate-name {
            font-size: 20px;
            font-weight: bolder;
        }

        .affiliate-volume {
            font-size: 20px;
            font-weight: bold;
        }

        .affiliate-delta {
            padding-top: 2px;
        }

        .bar-block {

        }

        .bar-container {
            width: 100%;
            height: 10px;
            display: flex;
            border-radius: 6px;
            overflow: hidden;
        }

        .bar-segment {
            height: 100%;
        }

        .single-amount {
        }

        .bar-labels {
            display: flex;
            justify-content: space-between;
            margin-top: 6px;
            font-weight: bold;
        }

        .coins-stack {
            position: relative;
            display: inline-block;
        }

        .coin {
            width: 64px;
            height: 64px;
        }

        .coins-stack .coin {
            border-radius: 50%; /* make round */
            position: absolute;
            top: 0;
        }

        .coins-stack {
            width: 100px;
            height: 64px;
        }

        .coins-stack .coin:nth-child(1) {
            transform: translate(0%);
        }

        .coins-stack .coin:nth-child(2) {
            transform: translate(50%);
        }

        .metric-block {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .metric-value-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }

        .metric-title {
            color: #999;
            font-size: 24px;
            font-weight: 600;
        }

        .metric-value {
            font-size: 36px;
            font-weight: bold;
        }

        .metric-delta {
            font-weight: bolder;
            font-size: 20px;
            padding-top: 14px;
        }

    </style>


    {% with title="WEEKLY STATS" %}
        {% include "components/header.jinja2" %}

        {#        <div class="date-range">#}
        {#            {{ datetimeformat(start_date_ts, "%d.%m.%Y") }} – {{ datetimeformat(end_date_ts, "%d.%m.%Y") }}#}
        {#        </div>#}
    {% endwith %}

    <div class="main-container">
        <!-- COLUMN1 -->
        <div class="block-outer">
            <div class="block-title">Native asset vaults</div>
            <div class="block-inner shadow-box">
                <div class="column gapped">
                    <div class="vault-asset-box">
                        <img class="coin" alt="BTC logo" src="renderer/logo/BTC.BTC.png"/>

                        <div class="vault-amount single-amount">
                            {{ pretty_money(current.btc_total_amount) }} ₿
                        </div>

                        <div class="vault-delta">
                            {% with curr=current.btc_total_amount, prev=previous.btc_total_amount %}
                                {% include "components/delta.jinja2" %}
                            {% endwith %}
                        </div>

                    </div>

                    <div class="vault-asset-box">
                        <img class="coin" alt="ETH logo" src="renderer/logo/ETH.ETH.png"/>

                        <div class="vault-amount single-amount">
                            {{ pretty_money(current.eth_total_amount) }} Ξ
                        </div>

                        <div class="vault-delta">
                            {% with curr=current.eth_total_amount, prev=previous.eth_total_amount %}
                                {% include "components/delta.jinja2" %}
                            {% endwith %}
                        </div>

                    </div>

                    <div class="vault-asset-box">
                        <div class="coins-stack">
                            <img class="coin img-vault-asset" alt="USDT logo"
                                 src="renderer/logo/ETH.USDT-0XDAC17F958D2EE523A2206206994597C13D831EC7.png"/>
                            <img class="coin img-vault-asset" alt="USDC logo"
                                 src="renderer/logo/ETH.USDC-0XA0B86991C6218B36C1D19D4A2E9EB0CE3606EB48.png"/>
                        </div>

                        <div class="vault-amount">
                            ${{ short_money(current.usd_total_amount) }}
                        </div>

                        <div class="vault-delta">
                            {% with curr=current.usd_total_amount, prev=previous.usd_total_amount %}
                                {% include "components/delta.jinja2" %}
                            {% endwith %}
                        </div>
                    </div>

                    <div class="metric-block">
                        <div class="metric-title">Native Asset Pooled</div>
                        <div class="metric-value-block">
                            <div class="metric-value">
                                {{ short_dollar(current.lock.total_non_rune_usd) }}
                            </div>

                            <div class="metric-delta">
                                {% with curr=current.lock.total_non_rune_usd, prev=previous.lock.total_non_rune_usd %}
                                    {% include "components/delta.jinja2" %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>

                    <div class="metric-block">
                        <div class="metric-title">Network security</div>
                        <div class="metric-value-block">
                            <div class="metric-value">
                                {{ short_dollar(current.lock.total_value_bonded_usd) }}
                            </div>
                            <div class="metric-delta">
                                {% with curr=current.lock.total_value_bonded_usd, prev=previous.lock.total_value_bonded_usd %}
                                    {% include "components/delta.jinja2" %}
                                {% endwith %}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- COLUMN2 -->
        <div class="block-outer">
            <div class="block-title">Protocol revenue</div>

            <div class="block-inner shadow-box gapped">
                <div class="metric-block">
                    <div class="metric-title">Protocol Revenue</div>
                    <div class="metric-value-block">
                        <div class="metric-value">
                            {{ short_dollar(current.earnings.total_earnings) }}
                        </div>
                        <div class="metric-delta">
                            {% with curr=current.earnings.total_earnings, prev=previous.earnings.total_earnings %}
                                {% include "components/delta.jinja2" %}
                            {% endwith %}
                        </div>
                    </div>
                </div>

                <div class="metric-block">
                    <div class="metric-title">Affiliate Revenue</div>

                    <div class="metric-value-block">
                        <div class="metric-value">
                            {{ short_dollar(current.earnings.affiliate_revenue) }}
                        </div>
                        <div class="metric-delta">
                            {% with curr=current.earnings.affiliate_revenue, prev=previous.earnings.affiliate_revenue %}
                                {% include "components/delta.jinja2" %}
                            {% endwith %}
                        </div>
                    </div>
                </div>

                <div class="metric-block">
                    <div class="metric-title">Top affiliates</div>

                    <div class="affiliate-table">
                        {% for aff in top_affiliates[:7] %}
                            <div class="affiliate-row">

                                <img src="{{ aff["logo"] or "renderer/logo/unknown.png" }}"
                                     alt="{{ aff["display_name"] }} logo" class="affiliate-logo">

                                <div class="affiliate-name">{{ aff["display_name"] }}</div>

                                <div class="affiliate-volume">
                                    {{ short_dollar(aff.total_usd) }}
                                </div>
                                <div class="affiliate-delta">
                                    {% with curr=aff.total_usd, prev=aff.prev_total_usd %}
                                        {% include "components/delta.jinja2" %}
                                    {% endwith %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


            </div>

        </div>

        <!-- COLUMN3 -->
        <div class="block-outer">
            <div class="block-title">Swap info</div>
            <div class="block-inner shadow-box">
                <div class="unique-swappers-block">
                    <div class="unique-swappers-title">
                        Unique Swappers:
                    </div>
                    <div class="unique-swapper-value">
                        {{ pretty_money(current.swapper_count, integer=True) }}
                        {% with curr=current.swapper_count, prev=previous.swapper_count %}
                            {% include "components/delta.jinja2" %}
                        {% endwith %}
                    </div>
                </div>

                <div class="swap-volume-block">
                    <div class="swap-volume-title">
                        Swap Volume:
                    </div>
                    <div class="swap-volume-value">
                        {{ short_dollar(current.total_volume_usd) }}
                        {% with curr=current.total_volume_usd, prev=previous.total_volume_usd %}
                            {% include "components/delta.jinja2" %}
                        {% endwith %}
                    </div>
                </div>

                <div class="top_routes">
                    <div class="top_routers_header">Top Route</div>
                    {% for route in routes[:5] %}
                        <div class="route">
                            <div class="route_from">{{ route['from_asset'] }}</div>
                            <div class="route_arrow">⇌</div>
                            <div class="route_to">{{ route['to_asset'] }}</div>
                            <div class="route_volume">{{ short_money(route['volume_usd'], integer=True) }}</div>
                        </div>
                    {% endfor %}
                </div>

                <div class="bar-block">
                    <div class="bar-container">
                        <div class="bar-segment highlight-blue-bg"
                             style="width: {{ current.swap_type_distribution['swap'] * 100 }}%">
                        </div>
                        <div class="bar-segment midgard-turqoise-bg"
                             style="width: {{ current.swap_type_distribution['trade_swap'] * 100 }}%">
                        </div>
                        <div class="bar-segment yggdrasil-green-bg"
                             style="width: {{ current.swap_type_distribution['secured_swap'] * 100 }}%">
                        </div>
                    </div>

                    <div class="bar-labels">
                        <span class="highlight-blue">Ordinary</span>
                        <span class="midgard-turqoise">Trade</span>
                        <span class="yggdrasil-green">Secured</span>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script>
        // todo

    </script>

{% endblock %}
