aiodns
aiofiles
aiogram
aiohttp
aioredis
aiothornode>=0.1.2
async-timeout
bech32
# discord.py==1.7.3
emoji
git+https://github.com/danielgtaylor/python-betterproto@v2.0.0b4#egg=betterproto
html-slacker
markdownify
multidict
numpy
pandas
Pillow>=9.3.0
pysha3
pytest
pytest-asyncio
python-dateutil
python-dotenv
PyYAML
ratelimit
semver
slack-sdk
slack-bolt
starlette
sentry-sdk
tqdm
tweepy
ujson
uvicorn
uvloop
web3
websockets
