aiodns
aiofiles
aiogram==2.*
aiohttp
async-timeout
bech32
colorama
# discord.py==1.*
emoji
git+https://github.com/danielgtaylor/python-betterproto@v2.0.0b5#egg=betterproto
html-slacker
markdownify
multidict
numpy
pandas
Pillow>=9.3.0
# pysha3
pytest
pytest-asyncio
python-binance==1.0.*
python-dateutil
python-dotenv
PyYAML>=6.0
ratelimit
redis
redis[hiredis]
semver
slack-sdk>=3.20.2
slack-bolt>=1.16.4
starlette>=0.26.1
sentry-sdk
tqdm>=4.65.0
tweepy==4.*
ujson==5.*
uvicorn
uvloop>=0.17.0
web3>=6.0.0
websockets
