aiofiles==0.6.0
aiogram==2.11.2
aiohttp==3.7.3
aioredis==1.3.1
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
bleach==3.2.2
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
cycler==0.10.0
dataclasses==0.6
dataclasses-serialization==1.3.1
docutils==0.16
hiredis==1.1.0
idna==2.10
keyring==21.8.0
kiwisolver==1.3.1
more-properties==1.1.0
multidict==5.1.0
mypy-extensions==0.4.3
numpy==1.19.4
packaging==20.8
pandas==1.2.0
Pillow==8.0.1
pkginfo==1.7.0
prodict==0.8.11
Pygments==2.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.5
PyYAML==5.3.1
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
toolz==0.11.1
toposort==1.6
tqdm==4.55.0
twine==3.3.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
ujson==4.0.1
urllib3==1.26.2
webencodings==0.5.1
yarl==1.6.3
