@font-face {
    font-family: ThorFont;
    src: url(/static/fonts/ThorFont.ttf);
}

@font-face {
    font-family: ThorFontLight;
    src: url(/static/fonts/Exo2-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Dynamically set the viewport size */
html, body {
    margin: 0;
    padding: 0;
    font-family: ThorFontLight, sans-serif;
    font-weight: 300;

    overflow: hidden; /* Prevent scrollbars */
    position: fixed;
    background-color: #061913;
}


body {
    color: white;
    background-color: #0a1015;
}

h1 {
    color: #FFF;
}

p {
    font-size: 14px;
}

.highlight-blue {
    color: #00CCFF;
}

.yggdrasil-green {
    color: #33FF99;
}

.midgard-turqoise {
    color: #23DCC8;
}


.highlight-blue-bg {
    background-color: #00CCFF;
}

.yggdrasil-green-bg {
    background-color: #33FF99;
}

.midgard-turqoise-bg {
    background-color: #23DCC8;
}


.night-black {
    background-color: #0a1015;
}

.container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    border: 1px rgba(255, 255, 255, 0.01) dashed;
    display: block;
    overflow: hidden;
}

.header-box {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.logo {
    margin-left: 20px;
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.shadow {
    filter: drop-shadow(1px 0px 0px black) drop-shadow(-1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(0 0 10px rgb(0, 0, 0, 0.5));
}

.break {
    flex-basis: 100%;
    height: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px 8px 3px 3px;
    font-size: 19px;
    color: #25272c;
    /*font-style: italic;*/
    letter-spacing: 4px;
}

.flex {
    display: flex;
}

.line-box {
    display: flex;
}

.dir-c {
    flex-direction: column;
}

.dir-r {
    flex-direction: row;
}

.logo-holder {
    display: flex;
    flex-direction: column;
}


.circle-tc-logo {
    width: 200px;
    padding: 13px;
}

.arrow-lr {
    width: 200px;
    filter: brightness(190%) hue-rotate(30deg) saturate(200%) drop-shadow(3px 3px 4px rgba(0, 213, 213, 0.51)) drop-shadow(-3px -3px 4px rgba(3, 243, 150, 0.51));
    padding: 0;
}

.logo-part {
    display: flex;
    justify-content: center;
    align-content: center;
}

.asset-part {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    font-family: ThorFontLight, serif;
    font-weight: bold;
    font-size: 50px;

    position: absolute;
    top: 80%;
    width: 43%;

    text-align: center;
}

.arrow-down {
    width: 30px;
    margin-bottom: 18px;
}

.arrow-aff {
    filter: brightness(200%);
    opacity: 90%;
}

.arrow-no-aff {
    filter: brightness(500%) saturate(0%);
    opacity: 0.4;
}

.above-arrow {
    position: absolute;
    bottom: 150px;
    width: 210px;
    text-align: center;
}


.time-block-flex {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.time-block-interval {
    transform: translate(-10%);
    display: block;
    color: #959595;
    text-align: center;
    font-size: 30px;
    width: 240px;
}

.clock {
    width: 60px;
    display: inline-flex;
    filter: brightness(80%);
    padding: 8px;
}

.wait-time {
    padding-left: 5px;
    margin-bottom: 5px;
    display: flex;
    color: #45dded;
    opacity: 0.8;
    font-weight: 400;
    font-size: 42px;
}

.usd-volume {
    color: #dcdbdb;
    font-weight: 400;
    font-size: 60px;
}

.expected-out-label {
    color: #bbb;
    font-weight: normal;
    font-size: 40px;
    padding-top: 6px;
}

:root {
    --arrow-width: 220px; /* Total width of the arrow */
    --line-height: 4px; /* Height of the line */
    --point-size: 20px; /* Half of the triangle's height */
}

.arrow {
    width: var(--arrow-width);
}

.line {
    margin-top: calc(var(--point-size) - var(--line-height) / 2);
    width: calc(var(--arrow-width) - var(--point-size) * 2);
    background: white;
    height: var(--line-height);
    float: left;
}

.point {
    width: 0;
    height: 0;
    border-top: var(--point-size) solid transparent;
    border-bottom: var(--point-size) solid transparent;
    border-left: calc(var(--point-size) * 2) solid white;
    float: right;
}

.route-box {
    position: absolute;
    left: 11%;
    right: 11%;
    top: 24%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tc-glow {
    filter: drop-shadow(6px 6px 12px rgba(0, 213, 213, 0.51)) drop-shadow(-6px -6px 12px rgba(3, 243, 150, 0.51));
}

.user-name {
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    color: #bbb;
}

.input-amount, .output-amount {
    text-shadow: 0 0 10px rgba(69, 221, 237, 60%);
    font-size: 65px;
}

.arrow-down-holder {
    position: absolute;
    margin-top: 21%;
    transform: translate(-70px, 0);
    width: 340px;
    text-align: center;
}

.tx-id-block {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 4px;
    margin-left: -10px;
    color: #23DCC8;
}

.up-arrow {
    color: #26a69a;
}

.down-arrow {
    color: #ef5350;
}

.neutral {
    color: #9e9e9e;
}

.cbox {
    padding: 12px 20px 12px 20px;
    border-radius: 12px;
    background: rgba(52, 51, 51, 0.21);
    box-shadow: rgb(0, 0, 0, 0.5) 0 0 20px;
}

.main-container {
    display: flex;
    position: absolute;
    top: 140px;
    left: 3%;
    right: 3%;
    bottom: 5%;
    flex-direction: column;
    align-items: center;
}

.shadow-box, .indicator-box {
    border-radius: 12px;
    background: rgba(52, 51, 51, 0.21);
    box-shadow: rgb(0, 0, 0, 0.5) 0 0 20px;
}

.ok {
    background-color: #26a69a;
}

.halted {
    background-color: #ef5350;
    /* fire red shadow */
}

.halted-text {
    color: #ef5350;
}

.warning {
    background-color: #FFA500;
}

.chain-state-name {
    color: #bbb;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    margin-right: 30px;
}

.chain-state-status {
    display: flex;
    margin-top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
}

.chain-state {
    display: flex;
    align-items: center; /* Align items vertically */
}

.chain-state-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
