<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        /* Dynamically set the viewport size */
        html, body {
            width: {{ width }}px;
            height: {{ height }}px;
            margin: 0;
            padding: 0;
            overflow: hidden; /* Prevent scrollbars */
            border: 1px solid #000;
        }

        body {
            font-family: Arial, sans-serif;
            color: white;
            background: #061913;
        }

        h1 {
            color: #FFF;
        }

        p {
            font-size: 14px;
        }

    </style>
    <script src="http://127.0.0.1:8404/static/chart.umd.min.js"></script>

</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
