{% extends "base.jinja2" %}

{% block content %}

    <style>
        /* Optional: Style the canvas container */
        #chart-container {
            position: absolute;
            top: 15%;
            left: 20%;
            width: 50%;
            height: 50%;
            margin: 0;
            padding: 0;

        {% if debug %}
            border: #23DCC8 1px dashed;
        {% endif %}

        }

    </style>

    <div class="tables">
        <img src="http://renderer:8404/static/tc_logo_transparent.png" alt="THORChain logo">
        <div class="title">Burned Rune</div>
        <div>
            <span>System Income burn percent:</span>
            <span>{{ "%.1f"|format(system_income_burn_percent) }} %</span>
        </div>
        <div>
            <span>Rune burnt last {{ tally_days|int }} days:</span>
            <span>{{ "%.1f"|format(prev_max_rune - curr_max_rune) }}ᚱ</span>
        </div>
        <div>
            <span>Total burned:</span>
            <span>{{ "%.1f"|format(total_burned_rune) }}ᚱ | {{ "$%.1f"|format(total_burned_usd) }}</span>
        </div>
        <div>
            <span>Prediction for 1 year:</span>
            <span>{{ yearly_burn_prediction|round }}ᚱ</span>
        </div>
        <div>
            <span>Rune circulating supply</span>
            <span>{{ circulating_suppy|round }}ᚱ</span>
        </div>


    </div>


    <div id="chart-container">
        <canvas id="myBarChart"></canvas>
    </div>

    <script>
        // Get the context of the canvas element we want to select
        const ctx = document.getElementById('myBarChart').getContext('2d');

        Chart.defaults.font.family = 'ThorFont'; // Set the font family for the chart
        Chart.defaults.color = 'white'; // Set the font color for the chart

        const runeBurnt = {{ points|safe }};
        console.log(runeBurnt);
        // points are [ [x, y], [x, y], ... ]

        let dateStrings = runeBurnt.map(point => new Date(point[0] * 1e3));
        // format dates to DD.MM HH:MM
        let even = true
        dateStrings = dateStrings.map(date => {
            const day = date.getDate().toString().padStart(2, '0');
            const month = (date.getMonth() + 1).toString().padStart(2, '0');
            const hours = date.getHours().toString().padStart(2, '0');
            const minutes = date.getMinutes().toString().padStart(2, '0');
            even = !even
            return even ? `${day}/${month} ${hours}:${minutes}` : '';
        });

        const values = runeBurnt.map(point => point[1]);

        // Define the data for the chart
        const data = {
            labels: dateStrings, // X-axis labels
            datasets: [{
                label: '',
                data: values, // Y-axis data
                backgroundColor: '#33FF99', // Bar color
                borderWidth: 2,
                borderRadius: Number.MAX_VALUE,
                borderSkipped: false,
            }]
        };

        // Define the configuration options
        const config = {
            type: 'bar', // Specify the chart type
            data: data,
            options: {
                responsive: true, // Make the chart responsive
                tooltips: {
                    enabled: false
                },
                scales: {
                    y: {
                        beginAtZero: true, // Start the Y-axis at zero
                        grid: {
                            color: 'rgba(255, 255, 255, 0.1)',
                        },
                        font: {
                            size: 16,
                        },
                        ticks: {
                            font: {
                                size: 16,
                            }
                        },
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Time',
                            font: {
                                size: 16,
                            }
                        },
                        grid: {
                            color: 'rgba(255, 255, 255, 0.1)',
                        },
                        ticks: {
                            font: {
                                size: 16,
                            }
                        },
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Burnt Rune Chart',
                        font: {
                            family: 'ThorFont',
                            size: 20,
                        }
                    },
                    legend: {
                        display: false
                    },
                }
            }
        };

        // Create and render the chart

        // when fonts loaded
        document.fonts.ready.then(() => {
            const myBarChart = new Chart(ctx, config);
        });


    </script>

{% endblock %}
